---
layout: default
title: Home
notitle: true


---

<div class="jumbotron">
    <p>
        <b>孙得淼课题组</b>单纯为了玩的开心,玩的自由,就是这样. 
    </p>
</div>

<script
	type="module"
	src="https://gradio.s3-us-west-2.amazonaws.com/6.5.1/gradio.js"
></script>

<gradio-app src="https://sundm72-sundm72.hf.space"></gradio-app>


<script
	type="module"
	src="https://gradio.s3-us-west-2.amazonaws.com/6.3.0/gradio.js"
></script>

<gradio-app src="https://sanchit-gandhi-musicgen-streaming.hf.space"></gradio-app>



<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
